canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

.social-icons {
  background-color: transparent;
  text-align: center;
}

@media (max-width:767px) {
  .social-icons {
    padding: 50px 0;
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #fff;
  margin: 0 10px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

.btn-group.project-links {
  /*margin: 20px;*/
}

.btn.btn-primary.project-live {
  background-color: #ff0;
  border-color: #ff0;
}

.btn.btn-primary.project-code {
  background-color: #211F1F;
  color: #fff;
  border-color: #211F1F;
}

.btn.btn-primary.project-video {
  background-color: #f00;
  color: #fff;
  border-color: #f00;
}

.projects-clean {
  color: #313437;
  background-color: #fff;
}

.projects-clean p {
  color: #7d8285;
}

.projects-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .projects-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.projects-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.projects-clean .intro p {
  margin-bottom: 0;
}

.projects-clean .projects {
  padding-bottom: 40px;
}

.projects-clean .item {
  text-align: center;
  padding-top: 50px;
  min-height: 425px;
}

.projects-clean .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.projects-clean .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

br {
  margin-top: 50px;
  margin-bottom: 50px;
}

